<h1>Hello world. This is {{title}}</h1>

<div class="card-deck">
    <div class="card text-white m-3 " *ngFor="let item of dets" [ngClass]="(item.status === true)?'bg-success':'bg-danger'" style="max-width: 18rem;">

        <div class="card-header">{{item.id}}</div>

        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <button class="btn btn-warning btn-delete" (click)="deleteCard(dets,item)">Удалить</button> 
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <form >

                <div class="form-group" (submit)="addCard(dets,232123,true)">
                    <label name="id_input" class="form-check-label" for="id_input">Введите ID: </label>
                    <input type="number" class="form-control" id="id_input" value={{dets_amount+1}} min="0">
                </div>

                <div class="form-group">
                    <input type="radio" id="on" name="status_input" value="on" checked> 
                    <label for="on">Включен</label><br>
                    <input type="radio" id="off" name="status_input" value="off">
                    <label for="off">Выключен</label><br>
                </div>

                <button type="submit" class="btn btn-primary">Добавить датчик</button>

            </form>
        </div>
    </div>
</div>